<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Post</title>
</head>
<body>
    <h1>Quora</h1>
    <div class="post">
        <h3>Post id :<%= post.id %></h3>
        <h4>Username: <%= post.username%></h4>
        <h5>Content: <%= post.content%></h5>
</body>
</html>